{% extends 'base.html.twig' %}

{% block title %}Mixer Stats{% endblock %}

{% block body %}
<div class="container">
    <form action="/" method="GET">
        <input type="number" name="nbr1" placeholder="Nombre 1"/>
        <input type="number" name="nbr2" placeholder="Nombre 2"/>
        <input type="submit"/>
    </form>
    <table class="striped">
        <thead>
            <tr>
                <th>addition : {{ nbr1 }} + {{ nbr2 }} = {{ addition }}</th>
                <th>soustraction : {{ nbr1 }} - {{ nbr2 }} = {{ soustraction }}</th>
                <th>multiplication : {{ nbr1 }} * {{ nbr2 }} = {{ multiplication }}</th>
                <th>division : {{ nbr1 }} / {{ nbr2 }} = {{ division }}</th>
            </tr>
        </thead>
    </table>

    <table class="striped">
        <thead>
        <tr>
            <th></th>
            <th>Viewers</th>
            <th>Followers</th>
            <th>Viewers/Followers</th>
            <th>Game</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <th><a href="https://mixer.com/{{ item.token }}"><img height="30px" src="{{ item.user.avatarUrl }}">{{ item.token }}</a>{% if item.partnered %}<i class="material-icons">check</i>{% endif %}</th>
                <td>{{ item.viewersCurrent }}</td>
                <td>{{ item.numFollowers }}</td>
                {% if item.numFollowers != 0 %}
                    <td>{{ (item.viewersCurrent / item.numFollowers)|round(5, 'floor') }}</td>
                {% else %}
                    <td> Division par 0 impossible </td>
                {% endif %}
                <td>{{ item.type.name }} ( {{ item.type.viewersCurrent }} )</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
